<IFModule mod_rewrite.c>

RewriteEngine on
ErrorDocument 404 http://appcaos.test/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

</IFModule>